.linkBox {
  width: 150px;
  background-color: #9ecdff;
  color: #ffffff;
  padding: 15px 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  box-shadow: 0 8px 25px rgba(113, 113, 114, 0.25);
  transition: all 0.3s ease-in-out;
}
.linkBox:hover {
  background-color: #0056b3;
  box-shadow: 0 12px 30px rgba(0, 123, 255, 0.4);
}
