.linkBox {
  min-width: 145px;
  background-color: #9ecdff;
  color: #ffffff;
  padding: 10px 5px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  /* font-size: 16px; */
  letter-spacing: 0.5px;
  box-shadow: 0 4px 4px rgba(113, 113, 114, 0.25);
  transition: all 0.3s ease-in-out;
}
.linkBox:hover {
  background-color: #0056b3;
  box-shadow: 2px 4px 12px rgba(0, 123, 255, 0.4);
}
@media (min-width: 375px) {
.linkBox {  
    min-width: 155px;
font-size: 16px;
  padding: 12px 8px;
}
}