.linkBox {
  min-width: 145px;
  background-color: var(--bg-color-button);
  color: var(--color-text-white);
  padding: 10px 5px;
  border-radius: 6px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 4px rgba(130, 130, 252, 0.2);
  transition: all 0.3s ease-in-out;
}
.linkBox:hover {
  background-color: var(--bg-color-button-hover);
  box-shadow: 2px 4px 12px rgba(0, 50, 150, 0.4);
}
.linkBox:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}
@media (min-width: 375px) {
  .linkBox {
    min-width: 155px;
    /* font-size: 16px; */
    padding: 12px 8px;
  }
}
@media (min-width: 768px) {
  .linkBox {
    min-width: 190px;
    font-size: 18px;
    padding: 18px 10px;
  }
}
@media (min-width: 1200px) {
  .linkBox {
    min-width: 220px;
    font-size: 20px;
    padding: 18px 10px;
  }
}
