.tableWrapper {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
}
.table {
  width: 100%;
  /* border-collapse: collapse; */
  /* border: 1px solid #a4a4a4; */
  font-size: 11px;
  /* min-width: 380px; */
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
}
.table th,
.table td {
  padding: 6px 3px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 30%;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 8%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  text-align: right;
  width: 7%;
}
.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: right;
  width: 15%;
}
.table th:nth-child(6),
.table td:nth-child(6) {
  text-align: right;
  width: 15%;
}
.table th:nth-child(7),
.table td:nth-child(7) {
  text-align: right;
  width: 10%;
}
.redfill {
  background-color: #ffcccc;
}
.greenfill {
  background-color: #ccffcc;
}
@media (min-width: 768px) {
  .table {
    width: 100%;
    font-size: 16px;
    /* min-width: 380px; */
    table-layout: fixed;
  }
}
@media (min-width: 1200px) {
  .tableWrapper {
    width: 725px;
    margin: 0 auto;
  }
  .table {
    width: 100%;
    font-size: 16px;
    /* min-width: 380px; */
    table-layout: fixed;
  }
}
