/* 'use client';  */
.tableWrapper {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.table {
  width: 120%;
  /* border-collapse: collapse; */
  color: var(--color-text-headers);
  font-size: 11px;
  /* min-width: 380px; */
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
}
.table th,
.table td {
  padding: 6px 3px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: var(--bg-color-footer-navigation);
  font-weight: 600;
  color: var(--color-text-white);
  /* text-transform: uppercase; */
}

.table tbody tr:hover {
  background-color: var(--color-background-wrapper);
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 9%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 9%;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 24%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 18%;
}
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 6%;
}
.table th:nth-child(6),
.table td:nth-child(6) {
  width: 12%;
}
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 8%;
}
.table th:nth-child(8),
.table td:nth-child(8) {
  width: 13%;
}
@media (min-width: 375px) {
  .table {
    /* width: 110%; */
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .table {
    width: 98%;
    font-size: 14px;
    /* min-width: 380px; */
    table-layout: fixed;
  }
}

@media (min-width: 1200px) {
  .table {
    width: 100%;
    font-size: 16px;
    /* min-width: 380px; */
    table-layout: fixed;
  }
  .table th:nth-child(1),
  .table td:nth-child(1) {
    font-size: 14px;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    font-size: 14px;
  }
  .table th:nth-child(5),
  .table td:nth-child(5) {
    font-size: 15px;
  }
  .table th:nth-child(6),
  .table td:nth-child(6) {
    font-size: 15px;
  }
  .table th:nth-child(7),
  .table td:nth-child(7) {
    font-size: 15px;
  }
  .table th:nth-child(8),
  .table td:nth-child(8) {
    font-size: 15px;
  }
}
