.filterWrapperBox {
  width: 100%;
  padding: 0 0 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.FilterBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.updtext {
  font-size: 12px;
  & span {
    font-size: 13px;
    color: #ff0000;
    font-weight: bold;
  }
}
.selectBox {
  width: 60px;
  padding: 3px;
  /* 1111 */
  /* border: 1px solid #b3d9ff; */
  border: 1px solid #060d1b;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 13px;
  color: #333;
}
.selectBox:focus {
  outline: none;
  /* 1111 */
  /* border-color: #007bff; */
  border-color: #060d1b;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selectLabel {
  /* font-weight: 600; */
  font-size: 14px;
  /* 1111 */
  /* color: var(--color-text-main); */
  color: #060d1b;
}

@media (min-width: 768px) {
  .selectLabel {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .selectLabel {
    font-size: 20px;
  }
  .selectBox {
    width: 80px;
    font-size: 18px;
  }
}
