/* 'use client';  */
.tableWrapper {
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  /* border-collapse: collapse; */
  /* border: 1px solid #a4a4a4; */
  font-size: 14px;
  min-width: 400px;
}
.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.table tbody tr:hover {
  background-color: #f5f5f5; /* Цвет при наведении на строку */
}
