.mainBox {
  display: flex;
  flex-direction: column;
}

.listData {
  padding: 8px 0;
  min-width: 55px;
  border: 1px solid var(--border_solid);
  color: var(--color-text-main);
}
.ihsData {
  font-weight: bold;
}

@media (min-width: 375px) {
  .list li {
    min-width: 60px;
  }
}
@media (min-width: 768px) {
  .list li {
    min-width: 65px;
  }
}
