.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  background-color: var(--bg-color-footer-navigation);
  box-shadow: 0 4px 6px var(--shadow-color);
  z-index: 100;
}

.nav {
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #b3d9ff;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 50, 150, 0.1);
  width: 100%;
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  font-size: 16px;
  padding: 25px 10px;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--bg-color-footer-navigation-hover);
  }
}

.authStatusContainer {
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ------------------------------------------------------------------- */
/* --- Мобильная навигация (по умолчанию) --- */
/* ------------------------------------------------------------------- */
.desktopLinks {
  display: none;
}
.navName {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-white);
  /* margin-right: auto; */
  padding-right: 20px;
}
.hamburgerButton {
  display: block;
  background: none;
  border: none;
  color: var(--color-text-white);
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 110;
}

.mobileMenu {
  position: fixed;
  /* top: 60px; */
  right: 0;
  width: 100%;
  /* max-width: 300px; */
  height: calc(100vh - 60px);
  background-color: var(--bg-color-footer-navigation);
  /* box-shadow: -4px 0 8px var(--shadow-color); */
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  z-index: 100;
}

.mobileMenuOpen {
  transform: translateX(0);
}

.mobileLinksContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.mobileMenu .link {
  padding: 20px 0 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileAuthStatus {
  /* margin-top: auto; */
  padding: 10px 0 0 30px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
}
/* ------------------------------------------------------------------- */
/* --- Планшет и выше --- */
/* ------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  .nav {
    padding: 10px 20px;
    height: 80px;
  }

  .desktopLinks {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    margin-left: 30px;
  }

  .link {
    font-size: 22px;
    /* padding: 20px; */
  }

  .authStatusContainer {
    margin-left: auto;
    padding-right: 30px;
  }

  .hamburgerButton {
    display: none;
  }
  .navName {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}
