.nav {
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #b3d9ff;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--bg-color-footer-navigation);
  box-shadow: 0 2px 4px rgba(0, 50, 150, 0.1);
  width: 100%;
}

.link {
  font-size: 16px;
  padding: 20px 0px;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: var(--bg-color-footer-navigation-hover);
}

.authStatusContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 10px 20px;
  }

  .link {
    font-size: 22px;
    padding: 20px;
  }

  .authStatusContainer {
    padding-right: 30px;
  }
}
