.formatUah {
  font-size: 15px;
  font-weight: 700;
}

.plansBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.newDataBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.newDataBox p {
  text-align: center;
  width: 45%;
  align-items: center;
  border: 1px solid var(--border_solid);
  padding: 10px;
}
.circularProgressBar {
  width: 120px;
  height: 120px;
}
.plansBox p {
  padding-bottom: 10px;
}
.plansBox h2 {
  padding-bottom: 20px;
  text-align: center;
}
