.plansBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.plansBox p {
  font-size: 15px;
  color: var(--color-text-main);
}
.formatUah {
  font-size: 16px;
  color: var(--color-text-headers);
  font-weight: 700;
}

.newDataBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.newDataBox p {
  font-size: 16px;
  color: var(--color-text-main);

  text-align: center;
  width: 45%;
  align-items: center;
  border: 1px solid var(--border_solid);
  padding: 10px;
}
.circularProgressBar {
  width: 120px;
  height: 120px;
}
.plansBox p {
  font-size: 16px;

  padding-bottom: 10px;
}
.plansBox span {
  color: var(--color-text-headers);
  font-weight: 700;
}
/* .plansBox h2 {
  padding-bottom: 20px;
  text-align: center;
} */
