.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px 10px;
  gap: 25px;
}
.globalPlans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  /* padding: 10px 0; */
}
.plansBox {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  gap: 5px;
  width: 100%;
  padding: 10px 0;
}

.newDataBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}
.newDataBox p {
  text-align: center;
  width: 45%;
  align-items: center;
  border: 1px solid #cce7ff;
  padding: 10px;
}
.circularProgressBar {
  width: 120px;
  height: 120px;
}
.plansBox p {
  padding-bottom: 10px;
}
.plansBox h2 {
  padding-bottom: 20px;
  text-align: center;
}
