html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

div,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
}

@media (min-width: 378px) {
  body {
    margin: 0 auto;
    font-size: 18px;
  }

  .container {
    /* max-width: 768px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 25px 0;
  }
}
