.adminPromotersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.promsList {
  width: 100%;
}
.promsData {
  width: 100%;
}

@media (min-width: 768px) {
  .promsList {
    width: 100%;
  }
  .promsData {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .adminPromotersPage {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .promsList {
    width: 75%;
  }
  .promsData {
    width: 25%;
  }
}
