.regionFilterBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.selectLabel {
  font-size: 12px;
  color: var(--color-text-main);
}
.selectBox {
  width: 75px;
  padding: 3px;
  border: 1px solid #b3d9ff;
  border-radius: 5px;
  background-color: #e6f2ff;
  font-size: 11px;
  color: #333;
}

.adminPromotersPage {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.promsList {
  width: 100%;
}
.promsData {
  width: 100%;
}
@media (min-width: 768px) {
  .promsList {
    width: 100%;
  }
  .promsData {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    /* align-items: center; */
  }
  .regionFilterBox {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .selectLabel {
    font-size: 18px;
  }
  .selectBox {
    width: 100px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .adminPromotersPage {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .promsList {
    width: 80%;
  }
  .promsData {
    width: 20%;
    flex-direction: column;
  }
  .selectLabel {
    font-size: 18px;
  }
  .selectBox {
    width: 100px;
    padding: 5px;
    border: 1px solid #b3d9ff;
    border-radius: 5px;
    background-color: #e6f2ff;
    font-size: 14px;
    color: #333;
  }
}
