.filterWrapperBox {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.prdFilterBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.selectLabel {
  font-size: 12px;
  color: var(--color-text-main);
}
.selectBox {
  width: 80px;
  padding: 3px;
  border: 1px solid #b3d9ff;
  border-radius: 5px;
  background-color: #e6f2ff;
  font-size: 11px;
  color: #333;
}
.selectBox:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.focusFilterBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.inputLabel {
  margin: 0;
  text-align: center;
  transform: scale(1.1);
  cursor: pointer;
}
@media (min-width: 768px) {
  .selectLabel {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .selectLabel {
    font-size: 20px;
  }
  .selectBox {
    width: 120px;
    font-size: 18px;
  }
}
