.footer {
  background-color: var(--bg-color-footer-navigation);
  box-sizing: border-box;
  border-top: 1px solid #b3d9ff;
  padding: 0 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 50, 150, 0.1);
}
.content {
  /* max-width: 1200px; */
  margin: 0 auto;
  /* font-size: 16px; */
  padding: 20px 0px;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .content {
    font-size: 22px;
    /* font-weight: 600; */
  }
}
