.textbox{
width: 300px;
padding: 0 0 5px;
/* text-align: center; */
display: flex;
/* font-size: 15px; */

}
.addtextbox{
    font-weight: bold;
    /* font-size: 14px; */
    padding-bottom: 10px;
}
.item{
    width: 50%;
}
.qty{
    width: 18%;
}
.week{
    width: 16%;
}
.uah{
        width: 16%;
}
@media (min-width: 375px) {
    .textbox{
width: 355px;
}
}